<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <!-- Text -->  
  <h1 style="text-align: center;">Contact Us</h1>
  <p  style="text-align: center;">general enquiries please email
  <br>info@potmeetspopdenim.com
  </p>
 
  <p  style="text-align: center;">whatsapp
  <br>+62 817-1717-7420
  </p>

  <p style="text-align: center;">line
  <br>@potmeetspopdenim
  </p>
  <!-- End Text Contact Us -->

  <!-- Form Contact -->
  <form>
    <div class="container">
      <div class="column position-relative">
        <!-- Name -->  
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <!-- Email -->
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
        <!-- Phone Number -->
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Message"></textarea>
        </div>
        <div class="tombol">
          <button type="button" class="btn btn-dark" >Send</button>
        </div>
      </div>
    </div>
  <footer>
    
  </footer> 
</form>
</body>
</html>