<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div class="footer">
	<hr width="50%" align="center" class="garis">
	<center>
    	<table class="listfoot">
	      <tr>
	        <th>
	          <a href="#" ><img src="FB.png" width="25px" height="25px"></a>
	        </th>
	        <th >
	          <a href="#"><img src="IG.png" width="35px" height="35px"></a>
	        </th>
	      </tr>
    	</table>
    </center>

    <center>
    	<table class="listfoot">
	      <tr>
	        <th>
	          <a class="hvr" href="#">ABOUT</a>
	        </th>
	        <th >
	          <a href="#">PAYMENT CONFIRMATION</a>
	        </th>
	        <th >
	          <a  href="#" >CONTACT US</a>
	        </th>
	        <th >
	          <a  href="#">WHOLESALE</a>
	        </th>
	        <th >
	          <a href="#">TERMS & CONDITIONS</a>
	        </th>
	        <th >
	          <a href="#">PRIVACY POLICY</a>
	        </th>
	      </tr>
    	</table>
    </center>
    <center>
		<a>© POT MEETS POP DENIM 2019<a>
	</center>
	</div>
</body>
</html>